.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA; /*estava com 10px*/
    padding: 1em; /*estava com 20px*/
    margin: 1em 2em; /*estava com 20px e 40px*/
    width: 30ch; /*estava com 250px*/
    box-sizing: border-box;
}

.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}
