.comentario{
    background-color: #D9E5E3;
    padding: 20px; /* espaço interno */
    border: 10px solid transparent; /*#C2CCCA; /* Borda completa */
    width: 250px;
    box-sizing: border-box; /* faz com que a largura seja medida pelas bordas */
    /* box-sizing => faz com que o navegador mude o box-sizing */
    /* Quando aplicamos o valor border-box para a propriedade box-sizing
    nos elementos <blockquote>, vemos que o tamanho deles aparentemente 
    diminui. Isso acontece porque estamos mudando a forma como o navegador
    mede a largura dos elementos.
    Por padrão, o navegador mede a largura ignorando padding e bordas. No
    momento em que colocamos border-box, dizemos ao navegador que ele deve
    considerar padding e bordas nesse cálculo. Então o elemento diminui pois
    agora os 250 pixels que definimos de largura incluem os paddings e bordas
    do elemento. */
    border-bottom-color: #333;
    border-right-color: #FFF;
    /* Quando as bordas têm cores diferentes, o navegador realiza a mudança de
    cor na diagonal em que as bordas se encontram.
    Se deixamos uma borda com a cor transparent, ela é desenhada com a cor de
    fundo do elemento. Ou, em outras palavras, a borda ocupa espaço, mas fica invisível. */
    margin: 20px 40px; /* espaços ao redor das recomendações. 20 pixels acima e abaixo e 40 pixels à esquerda e à direita. */
}
.fiat{
    float: right; /* o elemento com esta classe irá "flutuar" na tela à direita */
}
.petrobras{
    float: left; /* o elemento com esta classe irá "flutuar" na tela à esquerda */
}
cite{
    font-style: italic;
    /* o trecho abaixo faz o descolamento do autor sempre à direita */
    float: right;
    display: block;
}