body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 300%; /* estava com o valor de 60px */
}

.titulo-principal {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem; /*estava com o valor de 25px*/
    border-bottom: .5rem solid #000; /*estava com o valor de 10px*/
}

.subtitulo-texto {
    font-size: 30px;
    clear: both;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    margin: 20px 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.rodape-pagina {
    /*background-color: #000;   /* foi necessário remover este trecho para que o efeito
                    do rodaé em gradiente radial fizesse efeito*/
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    /*background-color: rgba(0, 0, 0, 0.8); /* deixa o fundo do rodapé semi transparente (o quarto parâmetro se refere à opacidade) */

    /* os seguintes trechos é para aplicar o efeito de gradiente radial ao redor do nome que aparece no rodapé da página */
    background-image: radial-gradient(ellipse at left bottom, 
        rgba(60, 29, 61, 0.8), 
        rgba(60, 29, 61, 0.8) 65%,
        black 65%,
        black 70%,
        transparent 70%,
        transparent);
    background-size: 25% 100%;
    background-repeat: no-repeat;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

main {
    width: calc(100% - (0.9 * 300px)); /* calcula a largura do main subtraindo a largura da barra de navegação */
    float: left;
    padding-bottom: 80px;
}

.minha-foto,
.navegacao-site {
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: calc(0.9 * 300px); /* calcula o tamanho da barra de navegação como sendo 90% do tamanho da foto */
    float: right;
    position: relative;
    top: 300px;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}
main a:hover, main a:focus,
footer a:hover, footer a:focus{
    color: red;
}
.navegacao-site a:hover,
.navegacao-site a:focus {
    text-shadow: 0 0 2px pink;
}
/* Os dois trechos seguintes faz aparecer uma legenda ao passar o mouse sobre o
link dos icones das redes sociais */
.icones-redes-sociais a:hover:after,
.icones-redes-sociais a:focus:after{
    content: attr(data-legenda); /* recupera valor contido no atributo 'data-legenda' do elemento <a> */
    position: absolute; /* posicionamento do pseudoelemento como absoluto */
    /*
     para que a legenda apareça embaixo do link, definimos que esse pseudoelemento 
     deve estar a 100% do topo e a 0 pixels da direita do link.
    */
    top: 100%;
    right: 0;

    text-indent: 0; /* estamos desativando o 'text-indent: -999999px' definido para fazer o image replacement */
    /* Isso vai fazer o texto aparecer abaixo do link, porém esse texto vai aparecer num espaço bem pequeno,
    já que o link tem uma largura pequena definida. Podemos aumentar a largura da legenda usado a largura
    do link como base: 
    */
    width: 300%;
    /*
    para melhorar o visual da legenda, diminuimos um pouco o tamanho da fonte e colocamos um fundo preto:
    */
    background: black;
    font-size: .75em;
}
.icones-redes-sociais a{
    /*
    A legenda não vai aparecer pois precisamos tirá-lo do fluxo do link que o text-indent impõe.
    Então definimos o posicionamento do link como relativo, para que ele sirva de referência
    para o pseudoelemento, e o posicionamento do pseudoelemento como absoluto.
    */
    position: relative;
}
/* O trecho abaixo transformar uma caixa num balão de diálogo, como em quadrinhos */
.icones-redes-sociais a:hover:before,
.icones-redes-sociais a:focus:before {
    content: ''; /* é necessário declarar a propriedade 'content', mesmo tendo o campo vazio para que o pseudoelemento seja adicionado à página */
    /* Como queremos que ele seja uma caixinha preta, então adicionamos tamanho e definimos a cor de fundo: */
    width: 1em;
    height: 1em;
    background-color: black;
    /* Precisamos posicioná-la logo acima da legenda, um pouco afastada do canto direito dela. Para isso, usamos o 'position: absolute' e,
    usando o link como referência, dizemos que queremos ela grudada no canto inferior do link e no canto esquerdo também; isso vai deixá-la
    suficientemente afastada do canto direito da legenda. */
    position: absolute;
    bottom: 0;
    left: 0;
    /* Por fim, precisamos rotacionar e transladar a caixa que criamos para que ela encaixe como uma ponta na legenda.
    Para isso, usamos a propriedade 'transform:' */
    transform: translateY(.5em) rotate(45deg);
}