/*

.secao {
    /* com este comando estamos transformando o grid de notícias em 3 colunas usando porcentagens de 33%   ** /
    float: left;
    width: 33.333%;
} */
.mini {
    /* com este comando estamos dividindo as notícias 'mini' em 2 colunas dentro do grid principal. Para isto
    utilizaremos porcentagens de 50% */
    float: left;
    width: 50%;
}

.container{
    margin: 0 auto; /* Responsável por centralizar o conteúdo na tela */
    max-width: 1200px; /* Responsável por definir (limitar) o tamanho máximo de 1200px */
}
.logo,
.secao {
    padding: 0 1%; /* Responsável por configurar alguns espaços físicos de maneira flexível, usando porcentagens (espaçamentos, etc) */
}

img {
    max-width: 100%; /* Responsável por evitar que as imagens estourem (ou ultrapasse a largura dos) os elementos que as
    contém, caso utilizar-mos uma resolução baixa com uma imagem grande.
    Usar o max-width:100% nas imagens vai impedi-las de estragar o design, vazando para além dos containers */
}

/* As duas regras seguintes configuram o topo do site, que inclui o logotipo, o menu e a busca de
maneira mais flexível. Colocar tudo na mesma linha no Desktop e permitir que, ao redimensionar, os
blocos "escorreguem" para baixo naturalmente. É uma espécie de adaptação do layout ainda sem
media queries, usando inline-block. 
O inline-block é interessante por simular uma linha de texto com seus elementos. Se não cabe
mais um "caracter" na linha, a "palavra" escorrega pra linha de baixo.
*/
.logo,
.busca,
.barra-nav,
.menu-principal {
    display: inline-block;
    vertical-align: middle;
}
.menu-principal li {
    float: left;
}/*################################################################################*/
/* Abaixo estão algumas regras com medidas 'em' que são proporcionais ao texto usado. 
Observe que as medidas flexíveis entram em ação e a página tem bastante flexibilidade.
Claro, grandes mudanças na largura da janela deixam nossa página não tão bem. Mais pra
frente veremos as media queries para resolver esses problemas.

Apesar do em não ser fluído por natureza, sua característica permite que uma alteração
na fonte base do texto escale proporcionalmente outros elementos na página.
*/
header {
    padding: 0.5em 0;
}
.destaques {
    margin-top: 1em;
}
.barra-nav {
    margin: 0.4em 0;
}/*################################################################################*/
/* Especificação de media queries: http://www.w3.org/TR/css3-mediaqueries/ */

/* Como usamos o layout com medidas 'em', podemos usar
media queries para aumentar todas as fontes proporcionalmente em telas maiores. 

A vantagem do em é poder mudar o font-size base e isso afetar outros elementos
em cascata. Facilita bastante o aumento dos elementos de forma proporcional.
*/
@media (min-width: 600px) {
    html {
        font-size: 1.125em;
    }
}
@media (min-width: 1000px) {
    html {
        font-size: 1.25em;
    }
}
/*####################################################################################*/

/* O maior ajuste necessário é no número de colunas das notícias. Dividimos tudo em 3 colunas antes,
o que é bom para o Desktop.Mas talvez fosse interessante deixar em 1 coluna em telas pequenas e 2
colunas em telas intermediárias. Use media queries para isso e mobile-first. 

*/
.secao { /* para mobile */
    width: 100%; 
}

@media (min-width: 600px) { /* para dispositivos com largura no mínimo 600px */
    .secao {
        width: 50%;
    }
}
@media (min-width: 1000px) { /* para dispositivos com largura no mínimo 1000px (Desktop) */
    .secao {
        width: 33.333%;
        float: left; /* ????? */
    }
}
/*#########################################################################################*/
