/*Quando não há nenhum estilo definido para o texto de
uma página, esse texto é exibido seguindo os padrões
definidos nas opções do navegador.

https://fonts.google.com/ => serviço de fontes gratuitas para ser utilizadas
no desenvolvimento de páginas web
*/

body{
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #FFFFFC; /* ou também 'rgb (255, 255, 240)'  ||Cor de fundo*/
    font-size: 120%;
}
h1,h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif; /*Atribui a fonte arial para o elemento, ou qualquer outra fonte 
    sem serifa (sans-serif) */
}
h1{
    text-align: center;
    color: #FFFFFF; /* Cor do texto (#FFFFFF = Branco)*/
    background-color: #851944;
}
p{
    text-align: justify;
}
blockquote{
    background-color: #D9E5E3;
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
}
footer{
    background-color: black; /* ou #000000 */
    color: #F2FFFC;
}
nav a{ /* especifica que o texto do link contido dentro da 'nav' também receberá a formatação */
    color: #F2FFFC;
}
main a {
    color: #851944;
}
aside a{
    color: inherit; /*Esse valor faz com que a propriedade 
    assuma o valor que foi definido em seu pai 'aside' */
    font-family: "Open Sans Condensed", sans-serif;
}

/*
<ul>
    <li>
        <a href="#">Link 1</a>
    </li>
</ul>

ul {
    color: pink;
}
ul li a {
    color: inherit; ==> Esse valor faz com que a propriedade 
    assuma o valor que foi definido em seu pai (ou ancestral,
    de um modo geral) em vez de assumir um outro valor. 
}

O link, neste caso, vai obrigatoriamente pegar a cor do pai dele, 
o <li>, que já pega normalmente a cor do pai dele, o <ul>, que é rosa.
*/